body{
    margin: 0;
    padding:0;
    background-color: darkgray;
    margin-left: 15%;
    
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

ul li{
    width: 100px;
    float: left;
    list-style: none;
    margin-top: 20px;

}

a{
    text-decoration: none;
    color: #c4c4c4;
}

.navigation a:hover{
    cursor: pointer;
    color: red;
}

.outer-page{
    width: 1000px;
    height:auto;
    margin: auto;
}

.inner-box{
    width: 750px;
    height: inherit;
    float: left;
	background-color: black;
}

.navigation{
    width: 750px;
    height: 85px;
}

.logo{
    width: 200px;
    height: 85px;
    background-color: #222222;
    float: left;
    padding: 0px;
    margin: 0px;
	margin-left: 80px;
}

.navigation{
    width: 100px;
    font-family: "Railway";
    background-color: #222222;
    display: inline;
    margin-top: 7%;
    font-size: 15px;   
}

.header{
    width:750px;
    height: 85px;
    background-color: #222222;
    color: lightcoral;
    margin: 0px;
    float: left;
}



#top-logo {
    height: 75%;
    width: 75%;
    margin-top: 5%;   
}


.big_fish {
	height: 100px;
	width: 650px;
	margin-top: 105px;
	margin-left: 130px;
	position: relative;
}


.tag {
	float: left;
	position: absolute;
	background-color: #464646;
	height: 50px;
	width: 481px;
	opacity: 0.8;
	margin-top: 150px;
	color: white;
	padding-left: 40px;
	padding-top: 15px;
}

.tag_2 {
	float: left;
	position: absolute;
	background-color: #464646;
	height: 170px;
	width: 153px;
	opacity: 0.8;
	color: white;
	margin-left: 130px;
	margin-top: 50px;
	text-decoration: underline;
	padding-left: 5px;

}

.tag_3 {
	float: left;
	position: absolute;
	background-color: #464646;
	height: 100px;
	width: 153px;
	opacity: 0.8;
	color: white;
	margin-left: 303px;
	margin-top: 120px;
	text-decoration: underline;
	padding-left: 7px;

}

.tag_4 {
	float: left;
	position: absolute;
	background-color: #464646;
	height: 80px;
	width: 135px;
	opacity: 0.8;
	color: white;
	margin-left: 475px;
	margin-top: 140px;
	text-decoration: underline;

}


.welcome_intro {
	height: 170px;
	width: 481px;
	margin-top: 115px;
	margin-left: 130px;
	background-color: #bfbebf;
	border-radius: 5px;
}

.recent_releases {
	height: 50px;
	width: 481px;
	margin-top: 20px;
	margin-left: 130px;
	background-color: #bfbebf;
	border-radius: 5px;
}

#apocalypse {
	height: 200px;
	width: 153px;
	margin-top: 20px;
	margin-left: 130px;
	float: left;
	border-radius: 5px;
}


#BigFish {
	height: 200px;
	width: 153px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	border-radius: 5px;
}

#eternal_mind {
	height: 200px;
	width: 153x;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	border-radius: 5px;
}


 h1 {
	color: #961f1e;
	 text-align: center;
	 font-family: "Railway";
	 padding-top: 20px;
}

h4 {
	color: #961f1e;
	text-align: center;
	font-family: "Railway";
	padding-top: 15px;
}

p {
	color: #145654;
	text-align: center;
	font-family:"Railway";
	padding-top: 20px;
	padding-left: 5px;
}


h3 {
	color: white; 
  	font: bold 24px/45px Helvetica, Sans-Serif; 
  	letter-spacing: -1px;  
  	background: rgb(0, 0, 0); /* fallback color */
  	background: rgba(0, 0, 0, 0.7);
  	padding: 10px; 

}

.footers {
    background-color: #222222;
    padding: 0px;
    margin-top: 30%;
    height: 50px;
    width: 750px;
    float: left;   
}

.foot_1 {
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: 50px;
    float: left;   
}

.foot_2 {
    color: #5d5d5d;
    font-size: 10px;
    height: 50px;
    width: 250px;
    float: left;
    font-family: "Railway";
    text-align: center;
	margin-top: 17px;
}

.foot_3 {
    width: 75px;
    height: 50px;
    float: left;
    margin: 0px;
    padding: 0px;   
}

.foot_4 {
    padding: 0px;
    width: 35px;
    height: 50px;
    float: left;
    margin-top: 1%;    
}

.foot_4 img {
    height: 40%;
    width: 50%;
    float: left;
    margin-top: 15%;
}

.foot_5 {
    padding: 0px;
    width: 35px;
    height: 50px;
    float: left;
    margin-top: 1%;    
}

.foot_5 img {
    height: 40%;
    width: 50%;
    float: left;
    margin-top: 15%;
}

.foot_6 {
    padding: 0px;
    width: 35px;
    height: 50px;
    float: left;
    margin-top: 1%;    
}

.foot_6 img {
    height: 40%;
    width: 50%;
    float: left;
    margin-top: 15%;
}

.foot_7 {
    padding: 0px;
    width: 35px;
    height: 50px;
    float: left;
    margin-top: 1%;    
}

.foot_7 img {
    height: 40%;
    width: 50%;
    float: left;
    margin-top: 15%;
}
