body{
    margin: 0;
    padding:0;
    background-color: darkgray;
   /* margin-left: 15%;*/
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    
    margin: 0;
    padding: 0;
}

ul li{
    width: 100px;
    float: left;
    list-style: none;
    margin-top: 20px;

}

a{
    text-decoration: none;
    color: #c4c4c4;
}

.navigation a:hover{
    cursor: pointer;
    color: red;
}

.container{
    /*width: 1000px;*/
    height:auto;
    margin: auto;
}

.inner-box{
    /*width: 750px;*/
    height: inherit;
    float: left;
	background-color: black;
}

.logo{
    height: 85px;
    background-color: #222222;
    float: left;
    padding: 0px;
    margin: 0px;
}

.navigation{
    height:85px;
    background-color: #222222;
    display: inline;
    font-size: 15px; 
}

.navigation li{
    /*width:95px;*/
    margin-top:30px;
}


.header{
    height: 85px;
    background-color: #222222;
    color: lightcoral;
    float: left;
}



#top-logo {
    height: 75%;
    /*width: 75%;*/
    margin-top: 5%;   
}

.banner img {
    margin-top:40px;
    width: 100%;
}


.tag {
    background-color:#222222;
    opacity: 0.8;
	float: left;
    position:absolute;
	border-radius: 5px;
    color:white;
    padding: 10px;
    text-align: left;
}


.welcome_intro {
    padding:10px;
	margin-top: 115px;
	border-radius: 5px;
    text-align: left;
}

.recent_releases {
	background-color:#145654;
	border-radius: 5px;
    margin-top:20px;
    margin-bottom:20px;
    padding:15px;
    text-align: center;
}

#apocalypse {
	height: 400px;
	margin-top: 20px;
	float: left;
	border-radius: 5px;
}


#BigFish {
	height: 400px;
	margin-top: 20px;
	float: left;
	border-radius: 5px;
}

#eternal_mind {
	height: 400px;
	margin-top: 20px;
	float: left;
	border-radius: 5px;
}

.tag_2 {
    background-color:#222222;
    height: 360px;
    opacity: 0.8;
	/*width: 283px;*/
	margin-top: 60px;
	float: left;
    position:absolute;
	border-radius: 5px;
    color:white;
    padding: 10px;
}
.tag_3 {
    background-color:#222222;
    height: 50px;
    opacity: 0.8;
	margin-top: 370px;
    /*width:266px;*/
	float: left;
    position:absolute;
	border-radius: 5px;
    color:white;
    padding: 10px;
}
.tag_4 {
    background-color:#222222;
    height: 60px;
    opacity: 0.8;
	/*width: 270px;*/
    padding: 10px;
	margin-top: 360px;
	float: left;
    position:absolute;
	border-radius: 5px;
    color:white;
}


 h1 {
	color: #961f1e;
	 text-align: center;
	 padding-top: 20px;
}

h4 {
	color: #bfbebf;
}

p {
	color: #145654;
    font-size:15px;
	text-align: center;
	padding:20px;
}


h3 {
	color: white; 
  	letter-spacing: -1px;  
  	background: rgb(0, 0, 0); /* fallback color */
  	background: rgba(0, 0, 0, 0.7);
  	padding: 10px; 

}

.footers {
    background-color: #222222;
    padding: 0px;
    margin-top:40px;
    height: 50px;
    float: left;   
}

.foot_1 {
    margin: 0px;
    padding: 0px;
    height: 50px;
    float: left;   
}

.foot_2 {
    color: #5d5d5d;
    font-size: 12px;
    height: 50px;
    float: left;
    text-align: center;

}


.foot_4 {
    padding: 0px;
    height: 50px;
    float: left;
    margin-top: 1%;    
}

.foot_4 img {
    margin-right:15px;
    margin-top:3px;
    margin-left:10px;
    width: 30px;
    float: left;
    display: inline;
    
}

