/* FONTS */

@font-face {
	font-family: 'Black';
	src: url(../fonts/Raleway-Black.ttf);
	font-style: normal;
	font-weight: normal;
}

/* GENERAL */

body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.mainContainer {
    height: 100%;
    width: 100%;
    background-image: url(../assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER */

header {
    height: 120px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
    margin: 0px;
}

.logo {
    padding-top: 35px;
}


/* MAIN */

main {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.stuffLoginContainer {
   height: 100%;
   padding: 0px;
   margin: 80px auto auto auto;
}

#signup_container {
    display: none;
}
#signup_button{
    cursor: pointer;
}
/* extra stuff */

.extraStuff {
   height: 100%;
   background: rgba(92, 92, 92, 0.4);
   padding: 0px;
   margin: 0px;
}

.images {
    height: 250px;
    width: 100%;
    color: #999999;
}

.HD {
    padding-top: 70px;
    text-align: center;
}

.Award {
   padding-top: 70px;
   text-align: center;
}

.Tailored {
    padding-top: 70px;
    text-align: center;
}

figcaption {
    margin-top: 10px;
}

.textDesciption {
    height: 300px;
    width: 100%;
    text-align: center;
    color: #999999;
}

.textDesciption p {
    padding: 80px 20px 0px 20px;
    color: #999999;
}

.login {
   height: 550px;
   background: rgba(255, 255, 255, 0.6); 
   padding: 0px;
   margin: 0px;
}

form {
   margin: 40px auto 0px auto;
}

form h1 {
    color: #682020;
    text-align: center;
    font-size: 45px;
    font-family: Black;
}

input {
    display: block;
    text-align: center;
}

.input-group-addon {
    border-radius: 20px 0px 0px 20px;
}

#user {
    height: 40px;
    border-radius: 0px 20px 20px 0px;
}

#password {
    height: 40px;
    border-radius: 0px 20px 20px 0px;
}

#Confirmpassword {
    height: 40px;
    border-radius: 0px 20px 20px 0px;
}

.button {
    display: block;
    border-radius: 20px;
    height: 40px;
    margin-top: 40px;
    text-align: center;
    background-color: #cd2a2c;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.forgot {
    color: #145654;
    text-align: center;
    margin-top: 10px;
}

[data-toggle="popover"] {
    cursor: pointer;
}

.noAccount {
    color: #145654;
    margin-top: 20px;
    text-align: center;
}

.signUp {
    color: #145654;
    text-align: center;
    font-size: 20px;
}

.signUp a {
    color: #145654;
}

.signUp a:hover {
    color: #145654;
    text-decoration-line: underline;
}

.TCs {
    color: #212121;
    text-align: center;
    margin-top: 45px;
    font-size: 12px;
}


/* FOOTER */

footer {
    height: 80px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
    padding: 0px;
    margin: 70px 0px 0px 0px;
}

