.movie {
    margin-bottom: 1em;
}

#header {
	height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@media (max-width: 991px) and (min-width: 768px){
    #header {
        height: 400px;
    }
} /* MD */

@media (min-width: 992px){
    #header {
        height: 500px;
    }
} /* LG and up */


#header img {
    width: 100%;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto
}

.banner-block {
    background: none;
    height: 400px;
    width: 100%;
    padding: 0;
}

#info-container {
    background-color: rgba(0, 0, 0, 0.5);
}

.rating {
    text-align: center;
}

#imdb img {
    width: 100%;
    margin: auto;
    padding: 0 20px; 
}

#reels img {
    width: 50%;
    margin: auto;
    padding: 0 20px; 
}

.text-img-info {
padding-top: 2em;
padding: 2em 20px 0 20px;
}

.movie-title {
    background-color: rgba(110, 110, 110, 0.3); 
    text-align: center;
    margin-top: 1em;
    padding: 1.5em 10%;
    margin-bottom: 0;
    padding-top: 0.5em;
}

.movie-poster {
    height: 360px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 2em;
}

.movie-poster img {
    width: 100%;
}

#description { 
    text-align: left;
    margin-top: 2em;
    margin-bottom: 0;
    padding-top: 0.5em;
}

#description p {
    color: white;
}

.movie-btn {
    width: 30px;
    float: left;
    margin-right: 20px;
    padding: 2em 0;
}

.movie-btn img{
    width: 100%;
}