#header {
    background-image: url(../assets/library_head.jpeg);
    background-size: 100%;
    background-position: center;
}

.banner-block {
    background: #961f1e;
    height: 400px;
    width: 100%;
    padding: 0;
}

.watchlist-welcome {
    background-color: rgba(110, 110, 110, 0.3); 
    text-align: center;
    margin-top: 1em;
    padding: 1.5em 10%;
    padding-top: 0.5em;
}



/*MOVIES*/

.info {
    background-color: rgba(0, 0, 0, 0.3);
    height: 75px;
    width: 100%;
    padding: 20px;
    bottom: 0;
    position: absolute;
    padding-right: 40px;
}

.info h4{
    color: white;
    float: left;
}

.movie-btn {
    width: 30px;
    float: right;
    margin-right: 20px;
}

.movie-btn img{
    width: 100%;
}

#swap1 img{
    transform: rotate(45deg);
    
}

#swap2 img{
    transform: rotate(45deg);
    
}
#swap3 img{
    transform: rotate(45deg);
    
}

#swap4 img{
    transform: rotate(45deg);
    
}

#swap5 img{
    transform: rotate(45deg);
    
}

#movielist_container {
    padding: 0;
}

/* OVERLAY */

.overlay {
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.overlay-name h4{
    color: #e7e7e7;
}

.overlay-name {
    padding-bottom: 0.5em;
    border-bottom: 2px solid #e7e7e7;
}

.overlay-info h5, p {
    color: #e7e7e7;
}

.overlay-info {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s, opacity 0.3s;
}

.overlay-buttons {
    padding: 0.5em  0;
}
@media (min-width: 768px) {
    .movie-block1:hover .overlay .overlay-info {
        max-height: 300px;
        opacity: 1;
    
    }
}
@media (min-width: 768px) {
    .movie-block2:hover .overlay .overlay-info {
        max-height: 300px;
        opacity: 1;
    
    }
}
@media (min-width: 768px) {
    .movie-block3:hover .overlay .overlay-info {
        max-height: 300px;
        opacity: 1;
    
    }
}

@media (min-width: 768px) {
    .movie-block4:hover .overlay .overlay-info {
        max-height: 300px;
        opacity: 1;
    
    }
}

@media (min-width: 768px) {
    .movie-block5:hover .overlay .overlay-info {
        max-height: 500px;
        opacity: 1;
    
    }
}
/* RECENT MOVIES */


.movie-block1 {
    height: 35vh;
    margin-top: 1.5em;
    position: relative;
    background-size: 100%;
    background-position: center;
    background-image:url(../assets/Movies/blairWitchProject_banner.jpg);

}


.movie-block2 {
    height: 35vh;
    margin-top: 1.5em;
    position: relative;
    background-size: 100%;
    background-position: center;
    background-image:url(../assets/Movies/ApocalypseNowNow_banner.jpg);

}


.movie-block3 {
    height: 35vh;
    margin-top: 1.5em;
    position: relative;
    background-size: 100%;
    background-position: center;
    background-image:url(../assets/Movies/MyOwnPrivateIdaho_banner.jpg);
}

.movie-block4 {
    height: 35vh;
    margin-top: 1.5em;
    position: relative;
    background-size: 100%;
    background-position: center;
    background-image:url(../assets/Movies/MyOwnPrivateIdaho_banner.jpg);
}

.movie-block5 {
    height: 35vh;
    margin-top: 1.5em;
    position: relative;
    background-size: 100%;
    background-position: center;
    background-image:url(../assets/Movies/MyOwnPrivateIdaho_banner.jpg);
}

.no_movies {
    opacity: 0;
    text-align: center;
    height:35vh;
}