/* GENERAL */

.nav-active {
    border-bottom: none;
}

/* MOVIE STUFF */

.movieStuff {
    background-color: rgba(0, 0, 0, 0);
}

.well {
    border: 0px;
    border-radius: 0px;
}

.movieStuff h1 {
    font-size: 2.2em;
}

.movieHeader {
    background-color: rgba(0, 0, 0, 0.5); 
    margin: 0px;
}

.movieBody {
    background-color: rgba(0, 0, 0, 0.5); 
    margin: 0px;
    padding: 10px;
}

#video-container {
    width: 100%;
    color: white;
}

#video {
    width: 100%;
}

iframe {
    height: 60vh;
}


/* MIGHT LIKE */

.might-like {
    margin-top: 30px;
    text-align: center;
}

.might-like-header {
    background-color: rgba(0, 0, 0, 0.5); 
    margin: 0px;
}

.might-like-body {
    padding: 0px;
    margin: 0px;
}

.poster {
    margin-top: 10px;
}

