/* GENERAL */


/* MOVIE STUFF */

.movieStuff {
    background-color: rgba(0, 0, 0, 0);
}

.well {
    border: 0px;
    border-radius: 0px;
}

.movieStuff h1 {
    font-size: 2.2em;
}

.movieHeader {
    background-color: rgba(0, 0, 0, 0.5); 
    margin: 0px;
}

.movieBody {
    background-color: rgba(0, 0, 0, 0.5); 
    margin: 0px;
}





/* VIDEO */

#videoContainer {
    background-color: yellow;
    width: 100%;
    color: white;
}

#myVideo {
    width: 100%;
}

#videoControlsBar {
    background: red;
    padding: 20px;
    width: 500px;
    display: inline;
}

button#playPauseBtn {
    background: url(../assets/play.svg);
    height: 30px;
    width: 30px;
    cursor: pointer;
    float: left; 
}

button {
    border: none;
}

#seekslider {
    width: 20%;
    float: left; 
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: #000;
    border: #666 1px solid;
    height: 4px;
    
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: pink;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    cursor: pointer;
    
}

#curTimeText {
    float: left; 
}

#durTimeText {
    float: left; 
}

#muteBtn {
   float: left; 
}

#volumeslider {
  width: 20%;  
    float: left;
}

#fullscreenBtn {
   float: left;
}










/* MIGHT LIKE */

.mightLike {
    margin-top: 30px;
    text-align: center;
}

.mightLikeHeader {
    background-color: rgba(0, 0, 0, 0.5); 
    margin: 0px;
}

.mightLikeBody {
    height: 100%;
}

#poster1 { 
    margin-top: 20px;
    background-image: url(../assets/Movies/SafetyNotGuaranteed_poster.png);
}

#poster2 { 
    margin-top: 20px;
    background-image: url(../assets/Movies/PulpFiction_poster.png);
}

#poster3 { 
    margin-top: 20px;
    background-image: url(../assets/Movies/BottleRocket_poster.png);
}

#poster4 { 
    margin-top: 20px;
    background-image: url(../assets/Movies/eternalSunshineOfTheSpotlessMind_poster.jpg);
}



/* OVERLAY */

/*

.overlay {
    padding: 2em;
    background-color: rgba(255, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.overlay-name h4{
    color: #e7e7e7;
}

.overlay-name {
    padding-bottom: 0.5em;
    border-bottom: 2px solid #e7e7e7;
}

.overlay-info h5, p {
    color: #e7e7e7;
}

.overlay-info {
    padding-bottom: 1em;
    padding-top: 0.5em;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s, opacity 0.3s;
}

.overlay-buttons {
    padding: 1em  0;
}
@media (min-width: 768px) {
    .mightLikeBody:hover .overlay .overlay-info {
        max-height: 500px;
        opacity: 1;
    
    }
}

*/