.info {
    background-color: rgba(0, 0, 0, 0.6);
    height: 75px;
    width: 100%;
    padding: 20px;
    bottom: 0;
    position: absolute;
    padding-right: 40px;
}

.info h4{
    color: white;
    float: left;
}

.movie-btn {
    width: 30px;
    float: right;
    margin-right: 20px;
}

.movie-btn img{
    width: 100%;
}

#removal_1 img {
    transform: rotate(45deg);
}

#removal2 img {
    transform: rotate(45deg);
}

#removal3 img {
    transform: rotate(45deg);
}



.watchlist-welcome {
    background-color: rgba(110, 110, 110, 0.3); 
    text-align: center;
    margin-top: 1em;
    padding: 1.5em 10%;
    margin-bottom: 0;
}

.movie1 {
    background-image: url(../assets/Movies/ApocalypseNowNow_banner.jpg);
    background-size: 100%;
    background-position: center;
    height: 400px;
        margin-top: 1em;
    margin-bottom: 0;
    padding-top: 0.5em;
}

.movie2 {
    background-image: url(../assets/Movies/eternalSunshineOfTheSpotlessMind_banner.jpg);
    background-size: 100%;
    background-position: center;
    height: 400px;
        margin-top: 1em;

    margin-bottom: 0;
    padding-top: 0.5em;
}

.movie3 {
    background-image: url(../assets/Movies/bigFish_banner.jpg);
    background-size: 100%;
    background-position: center;
    height: 400px;
        margin-top: 1em;

    margin-bottom: 0;
    padding-top: 0.5em;

}

.watchlist-welcome p {
    color: white;
}


/* FILTERS */

.filters {
    background-color: rgba(0, 0, 0, 0.5); 
    text-align: center;
    margin-bottom: 1em;
    padding: 2em 0;
    margin-top: 0;
}

.filters h5 {
    color: #961f1e;
}


#genre {
    margin-bottom: 1em;
}

select {
    border-radius: 20px;
    width: 80%;
    padding: 0.2em 10px;
    color: #145654;
    outline: 0;
}

label {
    color: #bebebe;
}

select option:hover {
    background-color:#145654;
    color: #ffffff; 
}

#year {
    margin-bottom: 1em;
}

#view-mode {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    border-radius: 5px 5px 5px 5px;
    padding-top: 0.1em;
    padding-bottom: 0.4em;
    margin: auto;
    margin-top: 0.5em;

}

#view-mode h5{
    color: #145654;
}

#view-mode img {
    display: inline-block;
    width: 30px;
    cursor: pointer;
}

#filter {
    width: 35%;
    background-color: #145654;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    padding: 0.5em 10px;
    margin-top: 1.5em;
    margin-bottom: 2em;
}



