.movie {
    margin-bottom: 1em;
}

#header {
    background-image: url(../assets/Movies/ApocalypseNowNow_banner.jpg);
    background-size: 100%;
    background-position: center;
}

.banner-block {
    background: #961f1e;
    height: 400px;
    width: 100%;
    padding: 0;
}

.library-welcome {
    background-color: rgba(110, 110, 110, 0.3); 
    text-align: center;
    margin-top: 1em;
    padding: 1.5em 10%;
    margin-bottom: 0;
    padding-top: 0.5em;
}

/* FILTERS */

.filters {
    background-color: rgba(0, 0, 0, 0.5); 
    text-align: center;
    margin-bottom: 1em;
    padding: 2em 0;
    margin-top: 0;
}

.filters h5 {
    color: #961f1e;
}




select {
    border-radius: 20px;
    width: 80%;
    padding: 0.2em 10px;
    color: #145654;
    outline: 0;
}

label {
    color: #bebebe;
}

select option:hover {
    background-color:#145654;
    color: #ffffff; 
}



/* indie reel rating */
#indie-reel-rating {
    float: left;
    overflow: hidden;
    width: 100%;
    padding-right: 25%;
  }

#reels img {
	display: inline;

}

#imdb image {
	display: inline;
}


  /* Imdb rating */
#imdb-rating {
    float: left;
    overflow: hidden;
    width: 100%;
  }
 
#view-mode {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    border-radius: 5px 5px 5px 5px;
    padding-top: 0.1em;
    padding-bottom: 0.4em;
    margin: auto;
    margin-top: 0.5em;

}

#view-mode h5{
    color: #145654;
}

#view-mode img {
    display: inline-block;
    width: 30px;
    cursor: pointer;
}

#filter {
    width: 35%;
    background-color: #145654;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    padding: 0.5em 10px;
    margin-top: 1.5em;
    margin-bottom: 2em;
    outline: none;
}

/*MOVIES*/

.info {
    background-color: rgba(0, 0, 0, 0.3);
    height: 75px;
    width: 100%;
    padding: 20px;
    bottom: 0;
    position: absolute;
    padding-right: 40px;
}

.info h4{
    color: white;
    float: left;
}

.movie-btn {
    width: 30px;
    float: right;
    margin-right: 20px;
}

.movie-btn img{
    width: 100%;
}

/* OVERLAY */

.overlay {
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.overlay-name h4{
    color: #e7e7e7;
}

.overlay-name {
    padding-bottom: 0.5em;
    border-bottom: 2px solid #e7e7e7;
}

.overlay-info h5, p {
    color: #e7e7e7;
}

.overlay-info {
    padding-bottom: 1em;
    padding-top: 0.5em;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s, opacity 0.3s;
}

.overlay-buttons {
    padding: 1em  0;
}
@media (min-width: 768px) {
    .movie-block:hover .overlay .overlay-info {
        max-height: 500px;
        opacity: 1;
    
    }
}
/* RECENT MOVIES */

.movie-block {
    height: 500px;
    position: relative;
    background-size: 100%;
    background-position: center;
}
@media (max-width: 768px) {
    .movie-block {
        height: 35vh;
        margin-bottom: 1.5em;
    }
}

#description { 
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0;
    padding-top: 0.5em;
	margin-left: 20em;
}